$def with(page,view)
$var title:留言管理

<div class="sub_nav"></div>
<div class="title"><h1>所有留言</h1></div>
	<div class="active">
	文章总数:$page['comments_count']       <a href="javascript:void(0);" onclick="del('/manage/comments/del?id=')">删除选中</a>
	</div>
	<table>
		<tr>
			<th><input type="checkbox" name="select_all" id="select_all" /></th>
			<th>内容</th>
			<th>作者</th>
			<th>添加时间</th>
			<th>地址</th>
		</tr>
	$for item in page['comments']:
		<tr>
			<td><input type="checkbox" name="sel_item" id="comment_sel_${item.id}" value='${item.id}'/></td>
			<td>$item.content</td>
			<td><a href="$item.weburl" target="_blank" title='$item.email'>$item.author</a></td>
			<td>
			${item.addTime.strftime('%Y-%m-%d')}
			</td>
			<td>
			<a href="${item.articlelink}#comment-${item.id}" target="_blank">地址</a>
			</td>
		</tr>
	</table>